body {
  font-family: verdana;
}

.stations {
  display: flex;
  column-gap: 20px;
}

.station {
  display: inline-block;
}

.station > h5 {
  text-align: center
}

h2 {
  background-color: #bdbdbd;
}

h4 {
  background-color: #d9d9d9;
}
